<mat-card class="card">
    <mat-card-header class="card-header">
        <div class="card-header-title">
            {{question.question}}
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="chart-wrapper">
            <canvas baseChart 
                [data]="pieChartData"
                [legend]="pieChartData"
                [type]="'pie'">
            </canvas>
        </div>

        <div class="stats-wrapper">
            <div *ngFor="let question of list; index as i">
                <div>
                    {{question.result}}
                </div>

                <div class="bar-row">
                    <div class="bar">
                        <div class="bar-inner" [style.width.%]="calculatePersentage(question.count)" [style.backgroundColor]="background(i)"></div>
                    </div>
                    <div>
                        {{calculatePersentage(question.count)}}% ({{question.count}} votes)
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
